.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}
html,
body {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

/* upper nav */
.cu-upper-nav {
  width: 1366px;
  height: 30px;
  color: #ffffff;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px 10px 40px;
}
.cu-upper-nav-left {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.03em;
}
.cu-upper-nav-left span {
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.03em;
}
.cu-upper-nav-right {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.03em;
}
.cu-upper-nav-right span {
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.03em;
}

/* lower nav */
.cu-lower-nav {
  background-color: #f7eec6;
  width: 1366px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.cu-navbar-links {
  display: flex;
  list-style: none;
  align-items: center;
}

.cu-navbar-links li {
  align-items: center;
  margin: 0 15px;
}

.cu-navbar-links a {
  text-decoration: none;
  color: #151b4a;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 23px;
  font-weight: 500;
  letter-spacing: 0.04em;
  align-items: center;
}
.cu-button-login {
  width: 80px;
  height: 38px;
  border: 1px solid #125e50;
  border-radius: 60px;
  color: #125e50;
  padding: 7px 20px 7px 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.03em;
}
.cu-button-SignUp {
  width: 94px;
  height: 38px;
  color: #ffffff;
  border-radius: 60px;
  background-color: #125e50;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.03em;
}
/* hero section */

.hero-section{
  background-image: url(herosection.svg);
  background-size:auto;
}
.star{
  display: flex;
  justify-content: space-between;
  padding:58px 180px;
}

.main-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content-p1{
  font-family: "Noto Serif", serif;
  color: #151B4A;
  font-size: 40px;
  line-height: 60px;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 0px;
}
.main-content-img{
  margin-left: 280px;
}
.main-content-p2{
  color: #151B4A;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.04em;
}
.cu-button-explore{
  width: 204px;
  height: 44px;
  color: #ffffff;
  border-radius: 60px;
  background-color: #125E50;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.03em;
  margin-bottom: 35px;
   margin-top: 35px;
}
.main-content-p3{
  color: #4E516C;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.04em;
}
.main-content-p3 span{
  color: #4E516C;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-decoration: underline;
}
.main-content-p4{
  color: #4E516C;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.04em;
  margin-bottom: 220px;
}
.arrow{
  position: absolute;
  z-index: 1;
  top:490.16px;
  left:800px;
}